.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Welcome Screen */
.signup-form {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    background-color: #FEAF78;
    border: none;
    border-radius: 10px;
}
.signup-form form div {
    width: 100%;
    margin: 2px 0;
    display: inline-block;
    box-sizing: border-box;
}
.signup-form button{
    color: white;
}
.signup-form button:hover{
    background: none;
    border: none;
}
.signup-form form div div div{
    background-color: white;
    border-radius: 10px;
}
.signup-form fieldset{    
    border: 2px solid #1d1d1d;
}
.signup-form input{
    width: 88%;
}
.signup-form input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    background-color: #1d1d1d;
    color: white;
}
.signup-form input[type="submit"]:hover{
    cursor: pointer;
    background-color: #333333;
}

.login-form {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    background-color: #FEAF78;
    border: none;
    border-radius: 10px;
}
.login-form form div {
    width: 100%;
    margin: 2px 0;
    display: inline-block;
    box-sizing: border-box;
}
.login-form button{
    color: white;
}
.login-form button:hover{
    background: none;
    border: none;
}
.login-form form div div div{
    background-color: white;
    border-radius: 10px;
}
.login-form fieldset{    
    border: 2px solid #1d1d1d;
}
.login-form input{
    width: 88%;
}
.login-form input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    background-color: #1d1d1d;
    color: white;
}
.login-form input[type="submit"]:hover{
    cursor: pointer;
    background-color: #333333;
}

.welcome{
  color:white;
}
.totp{
  color:white;
}


.login-button{
  margin-right:3em;
}


.entire-login-signup-display {
  display:flex;
  height:100vh;
  
}


.left-login-signup-display{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#1d1d1d;
}

.right-login-signup-display{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color:#FEAF78;
  font-weight:900;
}

.room-grid-container{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap:8em;
}

.entire-lobby{
  background-color:#060c33;
  margin-top:-1.31em;
/* Lobby */
}

#lobby-h1{
  color:rgb(255, 243, 243);;
  font-weight: 900;
}

#active-rooms-h2 {
  color:rgb(255, 243, 243);
  font-weight:900
}

.create-room-tag {
  color:rgb(255, 243, 243);
  font-weight:900;
}

.lobby-to-center{
  display:flex;
  flex-direction: column;
  justify-content:center;
}

.to-center {
  align-self:center;
}

.logoutButton{
  margin-top:20px;
}

.totp{
  color:white;
}

.entire-chat-screen {
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#000000;
  color:white;
}

.chatroom-header{
  display:flex;
  top:0;
  left:0;
  width:100%;
  justify-content:space-between;
  background-color:rgba(128, 128, 128, 0.8);
  position:fixed;
}

.exit-button {
  margin-left:auto;
}

body{
  background-color:#FEAF78;
}